.titu {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 5px;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
}

.grid-item {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px aqua solid;
}

.grid-item input {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}